@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: rgb(54, 178, 228);
}


html,
body{
    height: 100%;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;   
}


#container{
    background-color: none;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    height: 530px;
    width: 350px;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
}


#display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: aliceblue;
    color: rgb(107, 103, 103);
    height: 130px;
    width: 310px;
    border-radius: 20px;
    margin: 0 0 20px 0;
    padding: 5px;
    box-shadow: -1px 1px gray,
                -2px 2px gray,
                -3px 3px gray,
                -4px 4px gray;
transition: 0.1s;
}

#userInputDisplay{
    font-family: inherit;
    color: gray;
    font-size: 18px;
}

#resultDisplay{
    font-family: inherit;
    font-size: 38px;
    color: rgb(51, 50, 50);
}

#symbols{
    padding: 10px;  
}


button{
    background-color: aliceblue;
    color: rgb(73, 70, 70);
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    font-size: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -1px 1px gray,
                -2px 2px gray,
                -3px 3px gray,
                -4px 4px gray;
    transition: 0.1s;
}


#AC, #zero{
    width: 134px;
}


button:hover{
    background-color: rgb(243, 5, 144);
    color:white;
}

button:active{
    box-shadow: none;
    transform: translate(-4px, 4px);
    outline: none;
}
    

#footer{
    color: rgb(73, 70, 70);
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
}
    
    
    
  

   